<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freelance webmarketing et création de site à Toulouse : 2LCT</title>
    <meta name="description" content="Freelance webmarketing et création de site à Toulouse | Découvrez Laura Lacoste qui dirige 2LCT | Webmarketing & Déveleppement Web">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/accueil.css">
</head>
<body>
    <header>
            <a href="/" class="header__image"><img class="header__image" src="/img/2lct-logo.png" alt=""></a>
            <nav class="header__links" >
                <a class="header__link" href="/">Accueil</a>
                <a class="header__link" href="/a-propos">A propos</a>
                <a class="header__link" href="/prestations">Prestations</a>
                <a class="header__link" href="/gestion-projet">Gestion de projet</a>
                <a class="header__link" href="/portfolio">Portfolio</a>
            </nav>
            <a class="header__contact" href="/contact">Contact</a>
    </header>