<%- include('../partials/header') %>

    <section class="section__title">
        <div class="section__title--left">
            <p>Laura Lacoste EI</p>
            <h1>Freelance <span>création de site</span> et <span>webmarketing</span> à Toulouse</h1>
            <div class="section__title--btn">
                <a class="btn" href="#">Création de site</a>
                <a class="btn--light" href="#">Webmarketing</a>
            </div>
        </div>
        <div class="section__title--right">
            <img src="/img/site-web.png" alt="">
        </div>
    </section>
    <section class="section__presentation">
        <h2>Besoin d'un accompagnement pour votre présence en ligne ?</h2>
        <p class="section__presentation--p">Bienvenue sur 2LCT.fr, votre partenaire en <strong>création de site
                web</strong> et <strong>webmarketing</strong> à Toulouse.</p>
        <p class="section__presentation--p">Que vous ayez déjà un site web ou que vous soyez encore à l’étape de la
            planification, je suis là pour vous aider à atteindre vos <strong>objectifs digitaux</strong>.</p>
        <p class="section__presentation--p">Je mets à profit mes <strong>compétences</strong> et mon
            <strong>expérience</strong> pour vous accompagner dans tous vos <strong>projets en ligne</strong>. Que ce
            soit pour la création d’un site vitrine ou e-commerce, l’optimisation SEO de votre site existant, la
            rédaction de contenu web, la mise en place de campagnes de marketing direct, la gestion de vos réseaux
            sociaux ou la création de visuels attractifs, je suis là pour vous aider.</p>
        <p class="section__presentation--p"><strong>Votre projet devient notre projet et nous ferons de celui-ci un
                travail à votre image.</strong></p>
    </section>
    <section class="section__techno">
        <h2 class="section__techno--title">Ici seront présents les langages/cms/logiciels utilisés</h2>
        <div class="section__techno--bloc">
            <img src="/img/site-web.png" alt="" class="section__techno--img">
            <p class="section__techno--text">exemple</p>
        </div>

    </section>
    <section class="section__prestation">
        <h2>Les prestations que je vous propose​</h2>
        <div class="section__prestation--list">
            <div class="section__prestation--item section__prestation--crea">
                <img src="" alt="">
                <h3>Création de site vitrine</h3>
                <p>Je développe des sites web sur WordPress optimisés pour le référencement et adaptés à tous les
                    appareils.</p>
                <a href="#">En savoir plus ⭢</a>
            </div>
            <div class="section__prestation--item section__prestation--audit">
                <img src="" alt="">
                <h3>Audit & refonte de site</h3>
                <p>J'effectue une analyse approfondie de votre site web et je vous propose des solutions pour améliorer
                    sa visibilité et sa performance.</p>
                <a href="">En savoir plus ⭢</a>
            </div>
            <div class="section__prestation--item section__prestation--redac">
                <img src="" alt="">
                <h3>Rédaction web</h3>
                <p>Je rédige du contenu de qualité, en accord avec les meilleures pratiques SEO, pour renforcer la
                    présence de votre site sur les moteurs de recherche.</p>
                <a href="">En savoir plus ⭢</a>
            </div>
            <div class="section__prestation--item section__prestation--market">
                <img src="" alt="">
                <h3>Webmarketing</h3>
                <p>Je conçois et je déploie des campagnes d'emailing, de newsletters et d'autres stratégies de marketing
                    digital pour vous aider à atteindre vos clients cibles.</p>
                <a href="">En savoir plus ⭢</a>
            </div>
            <div class="section__prestation--item section__prestation--maint">
                <img src="" alt="">
                <h3>Maintenance</h3>
                <p>Je propose des services de maintenance, d'hébergement, de sauvegarde et de sécurité pour assurer le
                    bon fonctionnement et la protection de votre site WordPress.</p>
                <a href="">En savoir plus ⭢</a>
            </div>
            <div class="section__prestation--item section__prestation--form">
                <img src="" alt="">
                <h3>Formation</h3>
                <p>Je vous accompagne dans l'apprentissage et l'autonomisation pour que vous puissiez prendre en main la
                    gestion de votre présence en ligne.</p>
                <a href="">En savoir plus ⭢</a>
            </div>
            <div class="section__prestation--item section__prestation--all">
                <h3>Découvrez toutes les prestations ⭢</h3>
            </div>
        </div>
    </section>
    <section>
        <h2>Les exemples de mes projets amenant sur le portfolio</h2>
        <div>
            <img src="/img/site-web.png" alt="">
            <h3>exemple de ce site fait en code</h3>
            <p>création de A à Z</p>
        </div>
    </section>
    <section>
        <img src="" alt="">
        <div>
            <h2>Pourquoi choisir un freelance pour la création de son site et son marketing ?</h2>
            <p>Travailler avec un freelance offre une flexibilité et une réactivité incomparables. Je suis là pour vous offrir un service personnalisé et adapté à vos besoins spécifiques, sans les contraintes et les coûts supplémentaires associés à une a</p>
            <a href="">Me découvrir</a>
        </div>

    </section>


    </body>

    </html>